
#top
{
	display:block;
	margin-top: 1.5em;
	margin-left: -.7em;
}

form {
	background: white;
}

#form-description {
	position: relative;
	top: 1em;
	left: 2em;
	margin-bottom: -1em;
}

form .hri {
	margin-left: 1.2em;
	margin-top: 2em;
}

.questions {
	margin-left: 1em;
	padding-bottom: 1em;
}

.questions .field-title {
	margin: 1em 0 0.2em 0;
}

.btn-grey {
	background: #EEEEEE !important;
}

.location {
	margin-top: .5em;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

ul {
	left: 0 !important;
}

.btn-style {
	float: right;
	min-width: 7em;
	margin-top: 2em;
	margin-left: 1em;
}

textarea {
	width: 100%;
	border-radius: 4px;
	border-color: #CCCCCC;
	resize: none;
}

#bottom
{
	display:block;
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: -.7em
}