<div class="container">
    <div class="row">
        <h1 class="margin-left-indent">Thank you for sponsoring <%= @event.name %>.</p>
    </div>
    <div class="row">
        <div class="col-md-offset-8 col-md-1">
            <a type="button" class="btn btn-success btn-lg" href="/">Home</a>
        </div>
        <div class="col-md-2">
            <a type="button" class="btn btn-success btn-lg" href="/events">Search for more events</a>
        </div>
    </div>
</div>