<div ng-controller="EntireHomepageCtrl">
	<div ng-show="showInitialHomepage">
		<div id="big-background-image">
			<input id="homepage-search" type="text" class="form-control freetext-search" ng-model="freetext" ng-change="onTextChange()"/>		
		</div>

		<div ng-controller="HomepageCtrl" ng-init="initWith('<%= @six_events %>')">
			<div class="container">
				<div class="row">
					<h3 class="col-md-12" style="margin:2em 0 .5em 2.2em;">Trending Events</h3>
				</div>
				<div class="row">
					<ul id="trending-events">
						<li class="col-md-4" ng-repeat="event in events" ng-click="go('/events/' + event.id)">
							<div id="one-trending-event" class="center-block">
								<div class="row">
									<img id="logo" class="event-logo" ng-src="{{event.image_url}}"/>
								</div>
								<div class="absolute-items">
									<div class="row">
										<h4 id="event-name-homepage" class="col-md-12">{{event.name}}</h4>
									</div>
									<div class="row">
										<div class="col-md-12">
											<i class="glyphicon glyphicon-calendar icon cal-icon-color"></i>
											<p class="text_padding text">{{event.date_time | date : 'fullDate'}}</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<i class="glyphicon glyphicon-map-marker icon mark-icon-color"></i>
											<p class="text_padding text">{{event.city}}</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<hr id="line">
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<p id="sponsor-trending-event-button"><a class="btn btn-orange btn-lg btn-bold" role="button" ng-href="sponsorship_responses/new?event_id={{event.id}}">Sponsor!</a></p>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<p><a id="create-new-event-button" class="btn btn-navy btn-lg" role="button" ng-href="/events">More Events</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="events-list">
		<%= render "events/events_list" %>
	</div>
</div>