<div ng-controller="EntireHomepageCtrl">
	<div ng-show="showInitialHomepage">
		<div id="big-background-image">
			<input id="homepage-search" type="text" class="form-control freetext-search" placeholder="Start searching for events..." ng-model="freetext" ng-change="onTextChange()"/>		
		</div>

		<div ng-controller="HomepageCtrl" ng-init="initWith('<%=h @six_events.gsub("'", "&#39;") %>')">
			<div class="container">
				<div class="row">
					<h3 class="col-md-offset-1" style="margin-top:2em;">Trending Events</h3>
				</div>
				<div class="row">
					<ul id="trending-events">
						<li class="col-md-4" ng-repeat="event in events" ng-click="go('/events/' + event.id)">
							<div id="one-trending-event" class="center-block">
								<div class="row">
									<img id="logo" class="col-md-6 margin-left" ng-src="{{event.image_url}}"/>
								</div>
								<div class="absolute-items">
									<div class="row">
										<h4 class="col-md-12 text-capitalize">{{event.name}}</h4>
									</div>
									<div class="row">
										<div class="col-md-12">
											<i class="glyphicon glyphicon-map-marker icon"></i>
											<p class="text_padding text">{{event.city}}</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<i class="glyphicon glyphicon-calendar icon"></i>
											<p class="text_padding text">{{event.date_time | date : 'fullDate'}}</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<hr id="line">
										</div>
									</div>
									<div class="row">
										<div class="col-md-12 text-center">
											<p><a class="btn btn-primary btn-lg" role="button" ng-href="sponsorship_responses/new?event_id={{event.id}}">Sponsor!</a></p>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<p><a id="sponsor-button" class="btn btn-success btn-lg" role="button" ng-href="/events/new">Create a New Event</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!--div ng-hide="showInitialHomepage"-->
	<div id="events-list">
		<%= render "events/events_list" %>
	</div>
</div>