
<!-- general div to include ng -->
<div ng-controller="EventsListCtrl" ng-init="init('<%= @events %>')">
	
	<h1>Listing {{events.length}} events</h1>
 	
 	<!-- div to arrange searching and filtering area -->
	<div id="search_filter_div">
	  	
		<div id="main_filter_left" multi-select input-model="locations" button-label="city" item-label="city" tick-property="ticked" max-labels="2" helper-elements="none all" default-label="Any location"></div>

		<div id="main_filter_middle" multi-select input-model="ageRanges" button-label="range" item-label="range" tick-property="ticked" max-labels="2" helper-elements="none all" default-label="Any age range"></div>

		<div id="main_filter_right" multi-select input-model="sizeRanges" button-label="range" item-label="range" tick-property="ticked" max-labels="2" helper-elements="none all" default-label="Any size range"></div>
	  
	</div>
	
</div>