<div class="container" ng-controller="newEventFormCtrl">

	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<img id="top" src="/assets/top.png" alt="">
			<form accept-charset="UTF-8" enctype="multipart/form-data" method="post" action="/events">
				<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
				<div class="row">
					<div id="form-description">
						<h4>Create a new event!</h4>
						<p>Please fill out all applicable fields.</p>
					</div>
					<hr class="col-md-11 hri">
				</div>
				<div class="questions">
				  <div ng-show="questionsSectionNumber === 1">
						
						<!-- event organizer name -->
						<div class="row">
							<div class="col-md-12">
								<p class="field-title"><strong>Your name</strong></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<div class="input-group">
									<span class="input-group-addon">First</span>
									<input name="event[first_name]" type="text" class="form-control" placeholder="John" maxlength="255">
								</div>
							</div>
							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon">Last</span>
									<input name="event[last_name]" type="text" class="form-control" placeholder="Doe" maxlength="255">
								</div>
							</div>
						</div>

						<!-- event organizer email -->
						<div class="row">
							<div class="col-md-12">
								<p class="field-title"><strong>Email</strong></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-7">
								<div class="input-group">
									<span class="input-group-addon"></span>
									<input name="event[email]" type="email" class="form-control" placeholder="example@mkt.com" maxlength="255">
								</div>
							</div>
						</div>

						<!-- phone number -->
						<div class="row">
							<div class="col-md-12">
								<p class="field-title"><strong>Phone</strong></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-7">
								<div class="input-group">
									<span class="input-group-addon"></span>
									<input name="event[phone]" type="text" class="form-control" placeholder="###-###-####" maxlength="12">
								</div>
							</div>
						</div>
					
						<!-- event name -->
						<div class="row">
							<div class="col-md-12">
								<p class="field-title"><strong>Event's name</strong></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-7">
								<div class="input-group">
									<span class="input-group-addon"></span>
									<input name="event[name]" type="text" class="form-control" placeholder="What's the name of the event?" maxlength="255">
								</div>
							</div>
						</div>

						<!-- event size -->
						<div class="row">
							<div class="col-md-12">
								<p class="field-title"><strong>Event's size (#people)</strong></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-7">
								<div class="input-group">
									<div class="input-group-btn">
										<button type="button" class="btn btn-default dropdown-toggle btn-grey" data-toggle="dropdown">Pick a range <span class="caret"></span></button>
										<ul class="dropdown-menu" role="menu">
											<li><a ng-click="onSizeSelected('0-50')">0-50</a></li>
											<li><a ng-click="onSizeSelected('50-100')">50-100</a></li>
											<li><a ng-click="onSizeSelected('100-500')">100-500</a></li>
											<li><a ng-click="onSizeSelected('500-1000')">500-1000</a></li>
											<li><a ng-click="onSizeSelected('1000+')">1000+</a></li>
										</ul>
									</div>
									<input ng-model="sizeInputText" type="text" class="form-control" name="event[size]"/>
								</div>
							</div>
						</div>

						<!-- date and time-->
						<div class="row">
							<div class="col-md-12">
								<p class="field-title"><strong>Date and time</strong></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-5">
								<div class="input-group">
									<span class="input-group-btn">
										<button class="btn btn-default btn-grey" ng-click="toggleCalendar($event)"><i class="glyphicon glyphicon-calendar"></i> <span class="caret"></span></button>
									</span>
									<input type="text" class="form-control" datepicker-popup="MMM d, y" name="event[date]" ng-model="date" is-open="isOpened" min-date="minDate" datepicker-options="dateOptions" ng-click="isOpened = !isOpened" show-button-bar="true"/>
								</div>
							</div>
							<div class="col-md-5">
								<div class="input-group">
									<div class="input-group-btn">
										<button type="button" class="btn btn-default dropdown-toggle btn-grey" data-toggle="dropdown"><i class="glyphicon glyphicon-time"></i> <span class="caret"></span></button>
										<ul class="dropdown-menu scrollable-menu" role="menu">
											<li ng-repeat="time in times">
												<a ng-click="onTimeSelected(time)">{{time}}</a>
											</li>
										</ul>
									</div>
									<input ng-model="timeInputText" type="text" class="form-control" name="event[time]"/>
								</div>
							</div>
						</div>

						<!-- location -->
						<div class="row">
							<div class="col-md-12">
								<p class="field-title"><strong>Location</strong></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-10">
								<div class="input-group">
									<span class="input-group-addon">Address line 1</span>
									<input name="event[address1]" type="text" class="form-control" placeholder="" maxlength="255">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-10">
								<div class="input-group location">
									<span class="input-group-addon">Address line 2</span>
									<input name="event[address2]" type="text" class="form-control" placeholder="" maxlength="255">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="input-group location">
									<span class="input-group-addon">City</span>
									<input name="event[city]" type="text" class="form-control" placeholder="" maxlength="255">
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-group location">
									<span class="input-group-addon">State / Province / Region</span>
									<input name="event[state_province_region]" type="text" class="form-control" placeholder="" maxlength="255">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="input-group location">
									<span class="input-group-addon">Postal / Zip code</span>
									<input name="event[zipcode]" type="text" class="form-control" placeholder="" maxlength="255">
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-group location">
									<div class="input-group-btn">
										<button type="button" class="btn btn-default dropdown-toggle btn-grey" data-toggle="dropdown">Country <span class="caret"></span></button>
										<ul class="dropdown-menu scrollable-menu" role="menu">
											<li ng-repeat="country in countries">
												<a ng-click="onCountrySelected(country)">{{country}}</a>
											</li>
										</ul>
									</div>
									<input ng-model="countryInputText" type="text" class="form-control" name="event[country]"/>
								</div>
							</div>
						</div>
					</div>

					<div ng-show="questionsSectionNumber === 2">

						<!-- event's description -->
						<div class="row">
							<div class="col-md-12">
								<p class="field-title"><strong>Event description</strong></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-10">
								<textarea name="event[description]" rows="2"></textarea>
							</div>
						</div>

						<!-- Sponsorship types -->
						<div class="row">
							<div class="col-md-12">
								<p class="field-title"><strong>Sponsorship types you're interested in</strong></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">	
								<input id="cb-capital" name="event[capital]" type="checkbox" value="capital"/>
								<span ng-click="onCapitalClick()">Capital</span>
							</div>
							<div class="col-md-2">	
								<input id="cb-discounts" name="event[discounts]" type="checkbox" value="discounts"/>
								<span ng-click="onDiscountsClick()">Discounts</span>
							</div>
							<div class="col-md-3">	
								<input id="cb-merchandise" name="event[merchandise]" type="checkbox" value="merchandise"/>
								<span ng-click="onMerchandiseClick()">Merchandise</span>
							</div>
						</div>

						<!-- overall requested sponsorship -->
						<div class="row">
							<div class="col-md-12">
								<p class="field-title"><strong>Total sponsorship requested</strong></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-7">
								<div class="input-group">
									<span class="input-group-addon">$</span>
									<input name="event[total_amount]" type="text" class="form-control" placeholder="" maxlength="10">
								</div>
							</div>
						</div>

						<!-- minimum requested sponsorship -->
						<div class="row">
							<div class="col-md-12">
								<p class="field-title"><strong>Minimum acceptable sponsorship from a sponsor</strong></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-7">
								<div class="input-group">
									<span class="input-group-addon">$</span>
									<input name="event[min_amount]" type="text" class="form-control" placeholder="" maxlength="6">
								</div>
							</div>
						</div>

						<!-- Sponsorship Requests -->
						<div class="row">
							<div class="col-md-12">
								<p class="field-title"><strong>Special sponsorship requests or comments</strong></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-10">
								<textarea name="event[sponsorship_requests]" rows="2"></textarea>
							</div>
						</div>

						<!-- Event recurrence -->
						<div class="row">
							<div class="col-md-12">
								<p class="field-title"><strong>Event recurrence</strong></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-7">
								<div class="input-group">
									<div class="input-group-btn">
										<button type="button" class="btn btn-default dropdown-toggle btn-grey" data-toggle="dropdown">Recurrence <span class="caret"></span></button>
										<ul class="dropdown-menu" role="menu">
											<li><a ng-click="onRecurrenceSelected('One-Time Event')">One-time event</a></li>
											<li><a ng-click="onRecurrenceSelected('Weekly')">Weekly</a></li>
											<li><a ng-click="onRecurrenceSelected('Monthly')">Monthly</a></li>
											<li><a ng-click="onRecurrenceSelected('Yearly')">Yearly</a></li>
										</ul>
									</div>
									<input ng-model="recurrenceInputText" type="text" class="form-control" name="event[recurrence]"/>
								</div>
							</div>
						</div>

						<!-- Ages -->
						<div class="row">
							<div class="col-md-12">
								<p class="field-title"><strong>Attendees' age group</strong></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">	
								<input id="cb-12-20" name="event[age12_20]" type="checkbox" value="12-20"/>
								<span ng-click="on12_20Click()">12-20</span>
							</div>
							<div class="col-md-2">	
								<input id="cb-21-35" name="event[age21_35]" type="checkbox" value="21-35"/>
								<span ng-click="on21_35Click()">21-35</span>
							</div>
							<div class="col-md-2">	
								<input id="cb-36-50" name="event[age36_50]" type="checkbox" value="36-50"/>
								<span ng-click="on36_50Click()">36-50</span>
							</div>
							<div class="col-md-2">	
								<input id="cb-51" name="event[age51]" type="checkbox" value="51+"/>
								<span ng-click="on51Click()">51+</span>
							</div>
						</div>

						<!-- gender -->
						<div class="row">
							<div class="col-md-12">
								<p class="field-title"><strong>Attendees' gender</strong></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-7">
								<div class="input-group">
									<div class="input-group-btn">
										<button type="button" class="btn btn-default dropdown-toggle btn-grey" data-toggle="dropdown">Gender <span class="caret"></span></button>
										<ul class="dropdown-menu" role="menu">
											<li><a ng-click="onGenderSelected('Both')">Both</a></li>
											<li><a ng-click="onGenderSelected('Female')">Female</a></li>
											<li><a ng-click="onGenderSelected('Male')">Male</a></li>
										</ul>
									</div>
									<input ng-model="genderInputText" type="text" class="form-control" name="event[gender]"/>
								</div>
							</div>
						</div>

						<!-- income -->
						<div class="row">
							<div class="col-md-12">
								<p class="field-title"><strong>Attendees' income level</strong></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">	
								<input id="cb-income-low" name="event[income_low]" type="checkbox" value="12-20"/>
								<span ng-click="onIncomeLowClick()">Low</span>
							</div>
							<div class="col-md-2">	
								<input id="cb-income-med" name="event[income_med]" type="checkbox" value="21-35"/>
								<span ng-click="onIncomeMedClick()">Medium</span>
							</div>
							<div class="col-md-2">	
								<input id="cb-income-high" name="event[income_high]" type="checkbox" value="36-50"/>
								<span ng-click="onIncomeHighClick()">High</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-11">
							<input id="btn-sbmt" role="button" class="btn btn-style btn-orange" type="submit" name="submit" ng-show="questionsSectionNumber === 2" value="Submit" />
							<div id="btn-next" role="button" class="btn btn-default btn-style" ng-hide="questionsSectionNumber === 2" ng-click="onNextClick()">Next</div>
							<div id="btn-back" role="button" class="btn btn-default btn-style" ng-hide="questionsSectionNumber === 1" ng-click="onBackClick()">Back</div>
						</div>
					</div>

				</div>
			</form>
			<img id="bottom" src="/assets/bottom.png" alt="">
		</div>
	</div>
</div>
	
