<div class="container">
	<div class="static">
		<div class="static-details-indentation">
			<div class="row">
				<h1 class="col-md-12">About Us</h1>
			</div>
			<div class="row">
				<p class="paragraph col-md-12">Here at Marketiers, we are committed to making connections and creating powerful experiences through targeted sponsorship opportunities. Our goal is to streamline connections by allowing students to post upcoming events on an online platform that informs companies of attractive sponsorship opportunities. Marketiers is a new marketing hub, providing innovative solutions for companies to reach target markets.</p>
			</div>
			<div class="spacer-2"></div>
			<div class="row">
				<div class="col-md-5">
					<img src="http://static.wixstatic.com/media/31f6e2_1fe240294802444788de9b1fa90b0fbe.jpg_srz_p_350_235_75_22_0.50_1.20_0.00_jpg_srz">
				</div>
				<div class="col-md-7">
					<h3><em>Powerful Ecosystem</em></h3>
					<p class="paragraph">The college and graduate school student demographic is an important market and one that is often difficult to reach. Our unique platform and proprietary relationships make the cumbersome process of identifying sponsorship opportunities simple and efficient. Marketiers allows your business to see events that are happening on campuses, determine which events seem most attractive to your business from a marketing standpoint, and connect with the relevant people who are organizing those events.</p>
				</div>
			</div>
			<div class="spacer-2"></div>
			<div class="row">
				<div class="col-md-5">
					<img src="http://static.wixstatic.com/media/31f6e2_5318cc235e32419ba82d1674369477cb.jpg_srz_p_240_160_75_22_0.50_1.20_0.00_jpg_srz">
				</div>
				<div class="col-md-7">
					<h3><em>Tailored Solutions and Personalized Service</em></h3>
					<p class="paragraph">Marketiers seeks to provide you with the most personalized service and most targeted marketing offerings. In addition to the wide range of events available online, Marketiers offers personalized staff willing to work directly with you to fulfill you micro segmenting needs.Let us know what you are looking for and let us do the work. If a match exists, we will connect you to the right people and make the sponsorship process a seamless experience.</p>
				</div>
			</div>
			<div class="spacer-2"></div>
			<div class="row">
				<div class="col-md-5">
					<img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xaf1/v/t1.0-9/10349212_10101275307495357_7840353659956178996_n.jpg?oh=7cb1792a973a9fb4d12b77347fa2ddef&oe=5583669F&__gda__=1435827755_5d217fc11ce0c28dd41bc5aff4497182">
				</div>
				<div class="col-md-7">
					<h3><em>Our Team</em></h3>
					<p class="paragraph">We are a group of 3 students from Harvard Business School, with backgrounds in Tech, Start-Ups, Management and Consulting. We are extremely passionate and dedicated to the success of our sponsors and event organizers and would go a long way to help our clients reach their target market in the place, time and form that works best for them and our event organizers. For sponsorship opportunities and more information please contact us.</p>
				</div>
			</div>
		</div>
	</div>
</div>