<div class="container">
	<div class="static">
		<div class="static-details-indentation">
			<div class="row">
				<div class="col-xs-8 col-md-10">
					<h1>Your Brand</h1>
				</div>
				<div class="col-xs-4 col-md-2">
					<a class="btn btn-orange btn-lg btn-wide static-action-btn hidden-xs" role="button" href="/events">Sponsor Event</a></span>
					<a class="btn btn-orange static-action-btn visible-xs-inline" role="button" href="/events">Sponsor Event</a></span>
				</div>
			</div>
			<div class="spacer-2"></div>
			<div class="row">
				<p class="paragraph col-xs-12 col-md-12">It is our mission to help your brand gain exclusive access to your ideal customer through proprietary Marketiers student events. We carefully curate graduate school and university parties, conferences, symposiums, and fairs to offer your brand an effective way to grow awareness, increase traffic, and inspire customer loyalty. Marketiers will work closely with you to understand your needs and ensure that your event sponsorship provides a significant return on your investment.</p>
			</div>
			<div class="spacer-2"></div>
			<div class="row">
				<div class="col-xs-12 col-sm-5 col-md-3">
					<img class="square-img" src="http://static.wixstatic.com/media/31f6e2_96159858d3e6451ca4411e2a41f939d9.jpg_srz_p_220_219_75_22_0.50_1.20_0.00_jpg_srz">
				</div>
				<div class="col-xs-12 col-sm-7 col-md-3">
					<h4><em>Sponsor University and Alumni Events</em></h4>
					<div class="spacer-half"></div>
					<p>Choose from our extensive network of graduate school student events to help target a variety of clubs, student groups, and demographics. Available events include: industry-focused conferences, school-wide formals, student-led performances and many more.</p>
				</div>
				<div class="col-xs-12 col-sm-5 col-md-3">
					<img class="square-img" src="http://static.wixstatic.com/media/31f6e2_79d11f1c2f2a4d52815e85248113cb0d.png_srz_p_230_219_75_22_0.50_1.20_0.00_png_srz">
				</div>
				<div class="col-xs-12 col-sm-7 col-md-3">
					<h4><em>Sponsor Shows, Fairs and more</em></h4>
					<div class="spacer-half"></div>
					<p>Select from a range a high impact sponsorship opportunities that offer access to a variety of events. Dramatically increase the visibility of your brand or product by reaching this target demographic in an environment that is memorable, exclusive, and fun.</p>
				</div>
			</div>
			<div class="spacer-4"></div>
			<div class="row">
				<div class="col-xs-12 col-sm-5 col-md-3">
					<img class="square-img" src="http://static.wixstatic.com/media/31f6e2_7c741559c6e8425ea7ef693c8b03a28d.jpg_srz_p_210_245_75_22_0.50_1.20_0.00_jpg_srz">
				</div>
				<div class="col-xs-12 col-sm-7 col-md-3">
					<h4><em>Product Placement Opportunities</em></h4>
					<div class="spacer-half"></div>
					<p>After selecting your event based on your customizable criteria, Marketiers will work with you to place your product effectively at the event. Giveaways, raffles, and discount offerings can get your product directly in the hands of event attendees.</p>
				</div>
				<div class="col-xs-12 col-sm-5 col-md-3">
					<img class="square-img" src="http://static.wixstatic.com/media/31f6e2_695613d4ccda4345a27f2d9ad182ca89.png_srz_p_229_229_75_22_0.50_1.20_0.00_png_srz">
				</div>
				<div class="col-xs-12 col-sm-7 col-md-3">
					<h4><em>Advertising Opportunities</em></h4>
					<div class="spacer-half"></div>
					<p>Marketiers provides several advertisement opportunities connected to your chosen event. Through targeted emails, banners, fliers, and more, your brand will reach your ideal target customers in a new and exciting way.</p>
				</div>
			</div>			
		</div>
	</div>
</div>