<div class="container">
	<div class="static">
		<div class="static-details-indentation">
			<div class="row">
				<div class="col-md-10">
					<h1>Your Event</h1>
				</div>
				<div class="col-md-2">
					<a class="btn btn-navy btn-lg btn-wide static-action-btn" role="button" href="/events/new">Create Event</a></span>
				</div>
			</div>
			<div class="spacer-2"></div>
			<div class="row">
				<p class="paragraph col-md-12">Want free stuff? Need some money for an event? Find the best brands and cool products to make your event more popular, more engaging, and more fun!</p>
			</div>
			<div class="spacer-2"></div>
			<div class="row">
				<div class="col-md-3">
					<img class="square-img" src="http://static.wixstatic.com/media/31f6e2_02d371332ab84ff7bba30ea4c873b2c4.png_srz_p_210_245_75_22_0.50_1.20_0.00_png_srz">
				</div>
				<div class="col-md-3">
					<h4><em>Get Free Stuff</em></h4>
					<div class="spacer-half"></div>
					<p>Let us know about your event and we will help you find the perfect product to give away – with no cost or hassle! Your friends and colleagues will get free stuff, just from knowing you.</p>
				</div>
				<div class="col-md-3">
					<img class="square-img" src="http://static.wixstatic.com/media/31f6e2_5a2ba64fb64b4eb6b5fe0c4ab92587cd.jpg_srz_p_210_245_75_22_0.50_1.20_0.00_jpg_srz">
				</div>
				<div class="col-md-3">
					<h4><em>Raise Money For Your Event</em></h4>
					<div class="spacer-half"></div>
					<p>Want to kick your party up to the next level, but don’t have the funds? Did you know there companies eager to spread the word about their brands and products that would love to work with you? Well, there are, and RootMkt! wants to help you find them.</p>
				</div>
			</div>
			<div class="spacer-4"></div>
			<div class="row">
				<div class="col-md-3">
					<img class="square-img" src="http://static.wixstatic.com/media/31f6e2_b11699f410ec492a90990441e59751a6.jpg_srz_p_210_245_75_22_0.50_1.20_0.00_jpg_srz">
				</div>
				<div class="col-md-3">
					<h4><em>Get The Word Out</em></h4>
					<div class="spacer-half"></div>
					<p>Everyone likes free stuff. Increase the awareness of your event and bring in more people. Marketiers will do all of the work for you!</p>
				</div>
				<div class="col-md-3">
					<img class="square-img" src="http://static.wixstatic.com/media/31f6e2_d51a742016b24e62b2fd2dd915e7aed0.jpg_srz_p_199_233_75_22_0.50_1.20_0.00_jpg_srz">
				</div>
				<div class="col-md-3">
					<h4><em>We Like Everything!</em></h4>
					<div class="spacer-half"></div>
					<p>Marketiers will help you find a sponsor for any event – from your club’s student conference to your sorority’s costume party. Let us know what you are planning, who will be there, and what brands you like and let Marketiers do the rest.</p>
				</div>
			</div>			
		</div>
	</div>
</div>