/* advanced animation reference: http://jsfiddle.net/Bq6eK/13/   	http://jsfiddle.net/nMNJE/ */

* {
	font-family: Arial, Helvetica, sans-serif;
}

html, body {
	background: #f8f8ff !important;
	max-width: 100%;
    overflow-x: hidden;
}

/* events list and event */
#events_list {
	list-style-type: none;
	margin: 3em 0 0 1em;
}

.event {
	width: 70em;
	height: 10.7em;
	margin-bottom: 2em;
	cursor: pointer;
	background: #ffffff;
	border: 1px solid #ffffff; /* to prevent all the events of moving upon hover */
	border-radius: 8px;
}

/* event selectors */
.event:hover {
	border: 1px solid #c2c2ff;
}

.event:active {
	background: #e0e0ff;
	border: 1px solid #ffffff;
}

/* event's contents */
.event .logo {
	position: absolute;
  	top: 10.4em; left: 0.5em; bottom: 0; right: 0;
    margin: auto;
    max-width: calc(10.7em * 0.9);
    max-height: calc(10.7em * 0.9);
    width: auto;
    height: auto;
    border-radius: 6px;
}

.event .name_text {
	float: left;
	color: darkgrey;
    font-size: 1.2em;
    padding-top: 1em;
}

.text {
	float: left;
	color: grey;
    font-size: 0.9em;
}

.description_text {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    max-width: 54em;
    height: auto;
    padding-top: 0.05em;
}

.text_padding {
	padding-left: 0.3em;
}

.icon {
	float: left;
	height: 1em;
	width: 1em;
}

.event #description {
	float: left;
	position: relative;
	left: 32%;
}

/* filters */
#search_filter_div {
	margin-top: 2em;
	background: #00bfff;
	border-radius: 8px;
}

.search_area_size {
	height: auto;
	width: 90em;
}

.filter {
	margin-top: calc(7em / 2);
	transform: translate(0%, -50%);
	z-index: 10;
}

.toggleMoreFilters {
	float: right;
	color: #00bfff;
}

.genderCaret {
	float: right !important;
	position: relative !important;
	top: .65em !important;
}

.genderText {
	float: left;
}