.margin-left-indent {
	margin-left: 1em;
}

#logo-space {
	min-height: 15em;
	max-height: 15em;
}

#event-logo {
    max-width: 18em;
    max-height: 15em;

    top: 7.6em; left: 52%;
}

#mark-icon {
	 transform: translate(0%, -100%);
	-webkit-transform: translate(0%, -100%);
	-ms-transform: translate(0%, -100%);
	-moz-transform: translate(0%, -100%);
	-o-transform: translate(0%, -100%);
	padding-right: .3em;
}

#att-gender {
	max-height: 1.7em;
	height: auto;
	width: auto;
}

.age-icon {
	font: bold .8em Georgia, serif;
}

.age-detail {
	font: bold .8em Georgia, serif;
}

#size-icon {
	margin-top: -0.5em;
	max-height: 1.2em;
	height: auto;
	width: auto;
}

.size-range {
	margin-top: -0.5em;
	font: bold .8em Georgia, serif;
}

.btn-wide {
	min-width: 12em;
}

#contact-below-button {
	 margin-top: -0.6em;
	 font-size: 0.9em;"
}

#rest-of-description {
	margin-top: -.8em;
}

.description-toggle {
	float: right;
	font-size: 0.9em;

	margin-top: -.6em;
}

.requested-sponsorship-icon {
	float: right;
}

#map_canvas {
	width: 100%;
	height: 40em;
	background-color: #CCC;
	margin-top: 1em;
}

@media (max-width: 1024px) {
	#map_canvas {
		height: 20em;
	}
	#event-logo {
		left: 50%;
	}
}

#capital, #merchandise, #discounts {
	display: none;
}