/* advanced animation reference: http://jsfiddle.net/Bq6eK/13/   	http://jsfiddle.net/nMNJE/ */

/* events list and event */
#events_list {
	list-style-type: none;
	margin: 3em 0 0 1em;
}

.event {
	width: 70em;
	height: 10.7em;
	margin-bottom: 2em;
	cursor: pointer;
	background: #ffffff;
	border: 1px solid #ffffff; /* to prevent all the events of moving upon hover */
	border-radius: 8px;
}

/* event selectors */
.event:hover {
	border: 1px solid #c2c2ff;
}

/* event's contents */
.event .logo {
	position: absolute;
  	top: 10.4em; left: 0.5em; bottom: 0; right: 0;
    margin: auto;
    max-width: calc(10.7em * 0.9);
    max-height: calc(10.7em * 0.9);
    width: auto;
    height: auto;
    border-radius: 6px;
}

.sponsorButton {
	position: absolute;
	top: 1.5em;
	z-index: 8;
}

.event .name_text {
	float: left;
	color: darkgrey;
    font-size: 1.2em;
    padding-top: 1em;
}

.text {
	float: left;
	color: grey;
    font-size: 0.9em;
}

.description_text {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    max-width: 47em;
    height: auto;
    padding-top: 0.05em;
}

.text_padding {
	padding-left: 0.3em;
}

.icon {
	float: left;
	height: 1em;
	width: 1em;
}

.event #description {
	float: left;
	position: relative;
	left: 32%;
}


/* filters */

.filter {
	margin-top: calc(7em / 2);
	transform: translate(0%, -50%);
	z-index: 10;
}

.toggleMoreFilters {
	float: right;
	margin-right: 1em;
	color: #007acc;
}

.genderCaret {
	float: right !important;
	position: relative !important;
	top: .65em !important;
}

.genderText {
	float: left;
}

.filter .freetext-search {
	font-size: 1.5em !important;
	min-height: 2.5em !important;
	border-radius: 4px;
	color: #555 !important;
	border: 1px solid #c6c6c6 !important;
}

h3.title {
	margin: 1em 0 0 1em;
}

#search-filter-div {
	margin-left: 1em;
}