.app-header {
	background-color: #1947a3;
	
	/* sticky header */
	position:fixed;
	width:100%;
	z-index: 999;
}

.app-header .logo * {
	color: white;
	font-size: 3em;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.app-header .logo:hover {
	text-decoration: none;
}

.app-header #menu {
	text-align: right;
}

.app-header #menu ul {
	margin-top: 2.6em; 
	list-style-type: none;
}

.app-header #menu li { 
	display: inline;

	padding-left: 2.5em;
}

.app-header #menu a {
	font-size: 1.4em;
	color: white;
	text-decoration: none;
}

.app-header #menu a:hover {
	color: #F5e0eb;
}

footer {
	margin-top: 3em;
	background-color: #1947a3;
	width: 100%;
}

.footer-text {
	color: white;
}

.email-us {
	margin-top: -.5em;
	margin-bottom: 2.5em;
}

.email-us:hover {
	color: lightgreen;
}

.footer-logo {
	color: white;
	font-size: 3em;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.event-create-button {
	color: black !important;
	position: relative;
	bottom: .5em;
}