
.static {
	margin-top: 3em;
	background-color: white;
}

.static-details-indentation {
	margin: 0 5em 0 5em;
	padding: 1em 0 3em 0;
}

@media (max-width: 480px) {
	.static-details-indentation {
		margin: 0 1em 0 1em;
		padding: 0 0 1em 0;
	}
	.static-action-btn {
		top: 1.5em;
	}
}
@media (min-width: 481px) {
	.static-action-btn {
		top: 1em;
	}	
}

.paragraph {
	font-size: 1.2em;
}

.spacer-half {
	min-height: 0.5em;
}

.spacer-1 {
	min-height: 1em;
}

.spacer-2 {
	min-height: 2em;
}

.spacer-4 {
	min-height: 4em;
}

.static img {
	-webkit-box-shadow: 3px 3px 3px #7C7C7C;
	box-shadow: 3px 3px 3px #7C7C7C;
	width: 100%;
	height: auto;
}

.square-img {
	width: 16.5em !important;
	height: 16.5em !important;
}

.static-action-btn {
	float: right;
	position: relative;
}

.small-thankyou-message {
	margin: 1.7em 0em 0em -1em;
	color: green;
}