#big-background-image {
	background: url(./homepage-bigimage.jpg) no-repeat;
	background-size: 100% 60em;
	height: 60em;
}

#big-background-image .freetext-search {
	position: relative;
	top: 40%;
	left: 50%;
	transform: translate(-55%, 0%);

	width: 60em;
	height: auto;
	font-size: 2em;
}