#big-background-image {
	width: 100%;
	height: 30em;
}

@media (min-width: 768px) {
	#big-background-image {
		background: url(./homepage-bigimage.jpg) no-repeat;
		background-size: 100% 100%;
	}
}

#big-background-image #search-placeholder {
	font-size: 0.8em;
	left: 13px; top: 11px;
	width: 100%;
	height: 100%;
	color: grey;
	font-weight: lighter;
	position: absolute;
	overflow-x: hidden;
	font-size-adjust: none;
	font-stretch: normal;
}

#big-background-image #homepage-search {
	width: 100%;
	height: 3.5em;
}

#big-background-image .freetext-search {
	position: relative;
	top: 50%;
	left: 50%;

	max-width: 30em;
	height: auto;
	font-size: 1.8em;
}

#one-trending-event {
	width: 23em;
	height: 25em;
	margin-bottom: 3em;
	cursor: pointer;
	background: #ffffff;
	border: 1px solid #ffffff; /* to prevent all the events of moving upon hover */
	border-radius: 8px;
}

#one-trending-event:hover {
	border: 1px solid #c2c2ff;
}

#one-trending-event #logo {
	top: 6.2em;
	left: 50%;
	max-height: 10em;
	max-width: 16em;
}

#one-trending-event .absolute-items {
	position: absolute;
	top: 12em;
	margin-left: 2em;
}

#one-trending-event #event-name-homepage {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 16em;
}

#one-trending-event .text {
	color: grey;
    font-size: 1em;
}

#one-trending-event #line {
	position: relative;
	top: -1.2em;
	left: -1.1em;
	width: 21em;
}

#sponsor-trending-event-button {
	margin-top: -1.45em;
	position: relative;
	left: 16em;
	transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-o-transform: translate(-50%, 0%);
}

.btn-bold {
	font-weight: bold !important;
}

#more-events-button {
	font-size: 1.5em;
}

#events-list {
	opacity: 0;
	height: 0px;
	overflow: hidden;
}

#trending-events-title {
	 margin: 2em 0 .5em 1.2em;
}

@media (max-width: 320px) {
	#trending-events-title {
		 margin: 2em 0 .5em 0em;
	}
}